@charset: "UTF-8";

/*           CSS Reset           */
/*
 * http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summarytime, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

/*header*/
#header{
	width:100%;
	height:66px;
	position:relative;
	background:#2d5a73;
}
	#rixin{
		position:relative;
		float:left;
		margin:12px 0 0 8px;
	}
		#rixinLogo{
			width:89px;
			height:27px;
			background:url(../images/logo.png) 0 0 no-repeat;
		}
		#headText{
			margin-top:6px;
			color:#fff;
		}
		#headText h2{
			font:600 10px "KaiTi";
		}
	
	#aboutLogo{
		position:absolute;
		top:42%;
		left:40%;
		width:89px;
		height:16px;
		background:url(../images/logo.png) 0 -50px no-repeat;
	}		
	#homeLogo{
		position:relative;
		width:26px;
		height:25px;
		background:url(../images/logo.png) -89px 0 no-repeat;
		float:right;
		margin:22px 21px;
	}
		#homeLogo a{
			display:inline-block;
        	width:100%;
        	height:100%;
        	color:transparent;
		}
		
/*		footer		*/
/*#footer{
	position:relative;
	float:left;
	height: 47px;	
	width:100%;
	background-color:#2d5a73;
}*/

/*		mainnav		*/
.nav{
	width:100%;
	height:67px;
	font:600 15px "Microsoft YaHei";
	margin-top:15px;
}	
	.nav ul{
		float:left;
		width:100%;
		background-color:#69a4c5;
	}
	.nav ul li{
		float:left;
		list-style-type:none;
		position:relative;
		width:20%;
	}
	.nav ul li a{
		display:block;
		color:#fff;
		padding:.25em 1.1em;
		line-height:18px;
		text-align:center;
		text-decoration:none;
		display:block;
	}
	.nav li ul{
		display:none;
	}
	.nav li.yellow{
		background-color:#ffbc39;
	}

/*		subnav		*/
.show{
	display:block !important;
}
.nav ul ul{
	float:left;
	width:500%;
	height:24px;
}
.nav li li a{
	line-height:24px !important;
	padding:0 !important;
	display:block;
	color:#8e8d8c;
}
.black a{
	color:#363636 !important;
}	
	/*		about		*/
	ul#about{
		margin-left:0;
		background-color:#c2d6e0;
	}
	ul#about li{
		list-style-type:none;
		position:relative;
		width:100%;	
	}
	ul#about li a{
		text-decoration:none;
		display:block;
		font:bold 12px "Microsoft YaHei";
		background-color:#c2d6e0;
	}

	/*		thing    	*/
	ul#thing{
		margin-left:-100%;
		background-color:#c2d6e0;
	}
	ul#thing li{
		list-style-type:none;
		position:relative;
		width:25%;	
	}
	ul#thing li a{
		text-decoration:none;
		display:block;
		font:bold 12px "Microsoft YaHei";
		background-color:#c2d6e0;
	}

	/*		team    	*/
	ul#team{		
		margin-left:-200%;
		background-color:#c2d6e0;
	}
	ul#team li{
		list-style-type:none;
		position:relative;
		width:33%;
		background-color:#c2d6e0;	
	}
	ul#team li:nth-child(4){
		width:50%;
	}
	ul#team li:nth-child(5){
		width:50%;
	}
	ul#team li a{
		text-decoration:none;
		display:block;
		font:bold 12px "Microsoft YaHei";
		background-color:#c2d6e0;
	}

	/*		service		*/
	ul#service{		
		margin-left:-300%;
		background-color:#c2d6e0;
	}
	ul#service li{
		list-style-type:none;
		position:relative;
		width:50%;
		background-color:#c2d6e0;	
	}
	ul#service li a{
		text-decoration:none;
		display:block;
		font:bold 12px "Microsoft YaHei";
		background-color:#c2d6e0;
	}

/*		tittleArea		*/
.tittleArea{
	position:relative;
	margin-top:8px;
	width:98%;
	margin:0 auto;
}
	.tittleLogo{
		float:left;
		width:9px;
		height:16px;
		background-color:#2d5a73;
		margin:2px 0 2px 6px;
	}
	.tittle{		
		margin-left:8px;
		margin-top:8px;
		line-height:20px;
	}
		.tittle h1{
			float:left;
			font:bold 14px "Microsoft YaHei";
			color:#61605f;			
			margin-left:4px;
		}
	.tittleLine{
		height:1px;
		width:99%;
		background-color:#696867;
		clear:left;
	}

/*		content		*/
.content{
	position:relative;
	display:none;
	min-height:360px;
	margin-top:8px;
}
/*		contentAbout		*/
#contentAbout{
	width:100%;
}
	.container{
		margin:0 auto;
		margin-top:9px;
		width:90%;
	}
		.container p{
			font:bold 10px "Microsoft YaHei";
			line-height:22px;
			text-indent:2em;
			color:#757575;
		}
		.link{
			clear:left;
			width:165px;
			height:45px;
			margin:21px auto;
			background-color:#418db7;
			border-radius:5px;
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			-ms-border-radius:5px;
			font:bold 22px "Microsoft YaHei";
		}
			.link a{
				display:block;
				text-decoration:none;
				color:#fff;
				line-height:45px;
				text-align:center;
			}
		#ex{
			margin-bottom:63px;
		}
/*		contentThing		*/
#contentThing{

}
.thing{
	display:none;
	width:96%;
}
#contentThing table{
	margin:0 auto;
	margin-top:15px;
	width:90%;
	font:bold 10px "Microsoft YaHei";
	color:#757575;
	border-collapse: collapse;
}
	#contentThing tr{
		line-height:15px;
		max-height:30px;
	}
	#contentThing table td{
		border-bottom:12px solid transparent;
		width:30%;
	}
	#contentThing table td:last-child{
		width:70%;
	}
	/*
	.triangle{
		width:0px;
		height:0px;
		border:19px transparent solid;
		border-top:13px #757575 solid;
		position:absolute;
		top:350px;
		left:45%;
	}
		.triangle a{
			display:block;
		}

	.triangle{
		width:0px;
		height:0px;
		border:19px transparent solid;
		border-bottom:13px #757575 solid;
		position:absolute;
		top:3px;
		left:45%;
	}
	*/

/*		contentTeam		*/
#contentTeam{
	margin:0 auto;
	width:100%;
	margin-top:32px;
}
.team{
	display:none;
	margin:0 auto;
	width:90%;
}

.team h1{
	font:bold 14px "Microsoft YaHei";
	color:#363636;
	margin-top:8px;
}
.team table{
	margin:0 auto;
	margin-top:15px;
	font:bold 10px "Microsoft YaHei";
	color:#757575;
	border-collapse: collapse;
	width:96%;
}
	.team tr{
		line-height:12px;
		max-height:15px;
	}
	.team table td{
		border-bottom:10px solid #fff;
		width:22%;
		text-align:center;
	}
	.team table td:first-child{
		width:33%;
		text-align:left;
	}
	.team table td:last-child{
		width:55%;
		text-align:left;
		padding-left:18%;
	}
#webmaster table {
	width:80%;
	margin:0 auto;
	margin-top:8px;
	font:bold 10px "Microsoft YaHei";
	color:#757575;
	border-collapse: collapse;
}
	#webmaster table td{
		line-height:12px;
		max-height:15px;
		border-bottom:10px solid #fff;
		text-align:left;
	}
/*		contentService		*/
#contentService{

	width:100%;
}
.service{
	display:none;
}
#service1{
	margin:0 auto;
	width:88%;
}
#service1 h1{
	font:bold 14px "Microsoft YaHei";
	color:#363636;
	margin-top:8px;
	margin-right:8px;
	line-height:14px;
	text-align:center;
}
#service1 h2{
	font:bold 12px "Microsoft YaHei";
	color:#363636;
	margin:4px 0 0 8px;

}
#service1 p{
	font:bold 8px "Microsoft YaHei";
	color:#757575;
	line-height:16px;
	text-indent:2em;
}
#service2{
	width:94%;
	margin:0 auto;
}
#service2 table{
	margin:15px auto 0;
	color:#757575;
	border-collapse: collapse;
	width:100%
}
	#service2 table th{
		font:bold 12px "Microsoft YaHei";
		color:#363636;
		border-bottom:2px solid #fff;
		text-align:center;
	}
	#service2 table th:first-child{
		text-align:left;
	}
	#service2 table tr{
		font:bold 10px "Microsoft YaHei";
		line-height:16px;
		max-height:30px;
		text-align:center;
	}
	#service2 table tr:last-child{
		text-align:left;
	}
	#service2 table td{
		border-bottom:5px solid #fff;
		width:20%;
	}
	#service2 table td:first-child{
		text-align:left;
	}
#service2 h2{
	margin-top:10px;
	font:bold 12px "Microsoft YaHei";
	color:#363636;
}
#service2 p{
	font:bold 10px "Microsoft YaHei";
	color:#757575;
	line-height:15px;
}


